{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<form action="{{ path('app_login') }}" method="post">
		<h1>Log in</h1>
		
		<input type="text" id="username" name="_username" required="required">
		<input type="password" id="password" name="_password" required="required">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		<button type="submit" class="btn btn-primary btn-block">Log in</button>
		<div>
			<a href="#" class="float-right">Forgot password?</a>
			Not registered yet ?
			<a href="/register" class="float-right">Create an account</a>
		</div>
	</form>
{% endblock %}
